<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Book-System", root_path, id: "logo" %>  
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", "#" %></li>
        <li><%= link_to "Signup", "#" %></li>
      </ul>
    </nav>
  </div>

  <div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
	  <span class="caret"></span></button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
	  </ul>
	</div>

</header>